/* I start styling from the Root */

/* body{
  /*The background below is included for seeing the layout on browser */

/* background-color: #FFFFFF;
  display: block;
  position: absolute;
} */

/* style the first child of the Root */

#header-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;

  /* background-color: beige; */
}

.logo-container {
  flex: 1;
  flex-direction: column;
  color: #6070ff;
  display: flex;
  justify-content: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-left: 24px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: right;
  font-size: 15px;
  font-weight: 500;
  color: #344563;

  /* background-color: aqua; */
  padding-right: 24px;
}

i {
  color: #6070ff;
}

#header-background {
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background-image: url(../setup-and-mobile-version-skeleton/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
}

.headline {
  display: flex;
  margin: 30% 10% 1% 10%;
  flex-direction: column;
  align-content: space-between;
}

.intro-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.headline-intro {
  flex: 1;
  color: #172b4d;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.intro-desc-sumary {
  flex: 1;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: -10%;
}

.social-area {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 5%;
  margin-bottom: 40%;

  /* background-color: cadetblue; */
}

.social-network {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
}

.social-icon {
  flex: 1;
  margin-top: 3%;
  display: flex;
  justify-content: left;
  gap: 15px;

  /* background-color: cadetblue; */
}
