@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* The CSS codes below are the styles for the toolbar and headline sections */
html,
body {
  min-height: 100vh;
}

#header-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;

  /* background-color: white; */
}

.Mobile-menu {
  width: 30px;
  height: 25px;
}

.logo-container {
  flex: 1;
  flex-direction: column;
  color: #6070ff;
  display: flex;
  justify-content: left;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-left: 24px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: right;
  font-size: 15px;
  font-weight: 500;
  color: #344563;

  /* background-color: aqua; */
  padding-right: 24px;
}

i {
  color: #6070ff;
}

#Header-background {
  width: 400px;
  height: 600px;
  left: 0;
  top: 0;
  background-image: url("../setup-and-mobile-version-skeleton/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 70px;
  margin-top: 30px;

  /* background-color: white */
}

.headline {
  display: flex;
  margin: 30% 10% 1% 10%;
  flex-direction: column;
  align-content: space-between;

  /* background-color: aqua; */
}

.intro-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.headline-intro {
  flex: 1;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
}

.intro-desc-sumary {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -10%;

  /* background-color: #F7F7F9; */
}

.social-area {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 5%;
  /* background-color: cadetblue; */
}

.social-network {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;

  /* width: 220px; */
}

.social-icon {
  flex: 1;
  margin-top: 1%;
  display: flex;
  justify-content: left;

  /* gap: 15px; */

  /* background-color: cadetblue; */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;

  /* background-color: chocolate; */
  gap: 18px;
}

a {
  text-decoration: none;
  color: #6070ff;
}

/* The CSS codes below are the styles for the works and About myself sections */

.main-home {
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  gap: 20px;
  background-color: #e5e5e5;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 552px;
  margin: 88px 0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: white;
  top: 114px;
  align-items: center;
  gap: 5px;
}

.slider-work-1 {
  /* border:1px solid lightseagreen; */
  position: static;
  margin: 15px 20px 1px 20px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(../setup-and-mobile-version-skeleton/images/Card\ Works-1.png);
  background-repeat: no-repeat;

  /* background-position: center; */
}

.slider-work-2 {
  position: static;
  margin: 15px 20px 1px 20px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(../setup-and-mobile-version-skeleton/images/Card\ Work-2.png);
  background-repeat: no-repeat;
}

.slider-work-3 {
  position: static;
  margin: 15px 20px 1px 20px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(../setup-and-mobile-version-skeleton/images/Card\ Works-3.png);
  background-repeat: no-repeat;
}

.slider-work-4 {
  position: static;
  margin: 15px 20px 1px 20px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(../setup-and-mobile-version-skeleton/images/Card\ Work-4.png);
  background-repeat: no-repeat;
}

.title-work-1 {
  /* border:1px solid lightseagreen; */
  color: #172b4d;
  width: 295px;
  height: auto;
  margin: 1px 0;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.detail-overview-work-1 {
  /* border:1px solid lightseagreen; */
  width: 260px;
  display: flex;
  justify-content: flex-start;
  margin-right: 35px;
  color: #344563;
  gap: 20px;
  align-content: left;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.counter {
  flex: 1;
  background-image: url(../setup-and-mobile-version-skeleton/images/Counter.png);
  background-repeat: no-repeat;
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  align-self: center;
}

.desc-text-work-1 {
  /* border:1px solid lightseagreen; */
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button-work-1 {
  /* border:1px solid lightseagreen; */
  display: flex;
  width: 200px;
  margin-right: 97px;

  /* background-color: magenta; */
}

.button-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.button-css {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  width: 30px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.button-js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 60px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.see-project {
  display: flex;

  /* background-color: magenta; */
  border: 1px solid #396df2;
  flex-direction: column;
  height: 50px;
  width: 150px;
  margin-right: 140px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.button-project {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.container-about{
  display: flex;
  flex-direction: column;
  margin: 30% 10% 1% 10%;
  gap: 10px;
}
.About-Myself{
  flex: 1;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  position: static;
}
.view-resume{
  display: flex;
  /* background-color: magenta; */
  border: 1px solid #396df2;
  flex-direction: column;
  height: 50px;
  width: 150px;
  margin-right: 140px;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}
